<div class="info form">
  <%= form_tag '/login' do %>
    <label class="label">Username: </label><%= text_field_tag :user_name, "", class: "input"%><br>
    <label class="label">Password: </label><%= password_field_tag :password, "", class: "input" %><br>
    <%= submit_tag "Log In", class: "submit" %>
  <% end %>
</div>