
<%= form_for[notable, Note.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", placeholder: "Make a note" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>