<div class="links_container">
    <%= link_to "Back to receipts", receipts_path, class: "links"%>
    <%= link_to "Add a store", new_store_path, class: "links"%>
</div>
<div class="container">
    <div class="body">
        <h3 class="banner">Stores</h3>
        <% if @stores.size == 0 %>
            <p class="info">There are no stores currently listed</p>
        <% elsif @stores.size > 0 %>
            <% @stores.each do |store| %>
            <div>
                <%= link_to "#{store.name} - #{store.suburb}", store_path(store), class: "links_to_ind"%>
            </div>
            <% end %>
        <% end %>
    </div>
</div>
