<div class="links_container">
    <%=link_to 'Back', 'javascript:history.back()', class: "links"%>
</div>
<div class="container">
    <%= render partial: "stores/store", locals: {store: @store} %>
</div>