<div class="links_container">
    <%=link_to 'Back', 'javascript:history.back()', class: "links"%>
</div>
<div class="container">
    <div class="inner_container">
        <h3 class="banner">Sign up to Spendr</h3>

        <%= render 'form', user: @user %>
    </div>
</div>