
html{
    font-size: 20px;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    
}

body{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 950px;
}

.notice{
    background-color: rgba(235, 224, 75, 0.95);
    color: rgba(46, 156, 252, 0.8);
    width:6.5rem;
}

.container{
    width: 75%;
    height: 70%;
    background-color: rgba(46, 156, 252, 0.8);
    color:rgba(235, 224, 75, 0.95);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    border-radius: 8px;
    box-sizing: content-box;
    overflow: scroll;
    clear: both;
}

.inner_container{
    width: 50%;
    height: 70%;
    background-color: rgba(46, 156, 252, 0.8);
    color:rgba(235, 224, 75, 0.95);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    display: block;
    text-align: center;
    border-radius: 8px;
    box-sizing: content-box;
    overflow: scroll;
    clear: both;
}


.body{
    margin-top: 3%;
}

a{
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}
a:visited{
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}

.navbar{
    top: 0;
    left: 0;
    height: 17%;
    position: relative;
}

.logo_container{
    width: 30%;
    position: relative;
    display: block;
    padding-top: 1rem;
    padding-left: 5%;
    float: left;
}

.logged_out_logo_container{
    width: 30%;
    position: relative;
    display: block;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    /* float: left; */
}

.right_links{
    width: 30%;
    float: right;
}

.left_links{
    width: 30%;
    float: left;
}

.logo{
    color: rgba(235, 224, 75, 0.95);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.stores_link{
    float: right;
}

.receipts_link{
    float: right;
}

.logout_link{
    float: left;
}

/* ################ HOME ################ */

.home_links_container{
    width: 25%;
    height: 25%;
    margin-top: 12%;
    padding: 3% 1% 8% 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    display: block;
    background-color: rgba(240, 248, 255, 0.301);
    border-radius: 5%;
    
}

.home_links{
    background-color:rgba(235, 224, 75, 0.95);
    color: rgb(3, 3, 3);
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    width: 270px;
    padding-top: 6px;
    padding-bottom: 2px;
    display: block;
    margin: auto;
    margin-top: 30px;
    box-shadow: rgb(37, 37, 37) 1px 1.5px 1.5px;
    border-radius: 8px;
}

input.google{
    background-color: rgba(235, 224, 75, 0.95);
    color: rgb(3, 3, 3);
    height: 38px;
    font-size: 20px;
    font-weight: 400;
    width: 270px;
    padding-top: 6px;
    padding-bottom: 2px;
    display: block;
    margin: auto;
    margin-top: 1.5rem;
    border: none;
    box-shadow: rgb(37, 37, 37) 1px 1.5px 1.5px;
    border-radius: 8px;
}

/* ################ Receipts ################ */

.links_container{
    text-align: center;
    position: relative;
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.stores_links_container{
    height: 1rem;
    text-align: center;
    position: relative;
    display: block;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    
}

.links{
    background-color:rgba(235, 224, 75, 0.95);
    color: rgb(3, 3, 3);
    height: 1.5rem;
    font-size: 20px;
    font-weight: 500;
    width: 12%;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 2px;
    display: block;
    box-shadow: rgb(37, 37, 37) 1px 1.5px 1.5px;
    border-radius: 8px;
}

.nav_links{
    background-color:rgba(235, 224, 75, 0.95);
    color: rgb(3, 3, 3);
    height: 1.5rem;
    font-size: 20px;
    font-weight: 500;
    width: 32%;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 2px;
    display: block;
    box-shadow: rgb(37, 37, 37) 1px 1.5px 1.5px;
    border-radius: 8px;
}

.receipts_link, .stores_link{
    margin: 1rem 1rem
}

.logout_link{
    margin: 1rem 10rem 2rem 1rem
}


.store_link{
    background-color:rgba(235, 224, 75, 0.95);
    color: rgb(3, 3, 3);
    height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 500;
    width: 12rem;
    padding-top: 6px;
    padding-bottom: 2px;
    display: block;
    box-shadow: rgb(37, 37, 37) 1px 1.5px 1.5px;
    border-radius: 8px;
}

.banner{
    padding-top: 3rem;
}

.info{
    padding-top: 2rem;
}

.extra_info{
    font-size: 0.5rem;
    clear: both;
}

a.extra_info_link{
    font-size: 0.5rem;
    background-color: rgba(235, 224, 75, 0.95);
    color: rgba(46, 156, 252, 0.8);

}

a.extra_info_link:visited{
    font-size: 0.5rem;
    background-color: rgba(235, 224, 75, 0.95);
    color: rgba(46, 156, 252, 0.8);
}

.form{
    width: 85%;
    position: relative;

    margin: auto;
    overflow: scroll;
}

.label{
    float: left;
    width: 45%;
    text-align: left;
    padding: 0;
    height: 20px;
}

.input{
    float: right;
    width: 50.5%;
    background-color: rgba(235, 224, 75, 0.95);
    color: rgba(46, 156, 252, 0.8);
}

.name{
    font-size: 15px;
}

.store_label{
    padding-top: 5px;
}

.time_label{
    padding-top: 3px;
}

.date_label{
    padding-top: 1px;
}

.date, .time{ 
    width: 51%;
    margin-bottom: 3px;
}

select.input{
    width: 52%;
    font-size: 0.85rem;
    background-color: rgba(235, 224, 75, 0.95);
    color: rgba(46, 156, 252, 0.8);
    margin-bottom: 1px;
}
input.submit{
    margin-top: 2rem;
    background-color: rgba(235, 224, 75, 0.95);
    color: rgba(46, 156, 252, 0.8);
    margin-bottom: 2rem;
    position: relative;
    margin-left: 39%;
    margin-right: 39%;
}
input.submit_item{
    text-align: center;
    margin-top: 2rem;
    background-color: rgba(235, 224, 75, 0.95);
    color: rgba(46, 156, 252, 0.8);
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

a.links_to_ind{
    color: rgba(235, 224, 75, 0.95);
    width: 100%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

a.links_to_ind:visited{
    color: rgba(235, 224, 75, 0.95);
    width: 100%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

ul{
    padding: 0;
}

li{
    list-style: none;
    padding: 0;
}

.underline{
    text-decoration: underline;
}

.add_ons{
    text-align: right;
    width: 50%;
    margin-top: 0;
}

.items{
    float: left;
    width: 40%;
}

.items_notes{
    float: right;
    width: 30%;
    margin-right: 1rem;
}

.receipt_notes{
    float: left;
    width: 50%;
    /* text-align: left; */
    margin-top: 1rem;
    padding: 0;
}

.receipt_categories{
    float: right;
    width: 50%;
    padding: 0;
    margin-top: 1rem;
}
.receipt_details{
    width: 90%;
    position: relative;
    margin: auto;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-spacing: 30px;
    width: 90%;
}

th{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 10%;
}

td{
    font-size: 0.8rem;
    width: 10%;
}


