<div class="links_container">
    <%= link_to "Back to receipts", receipts_path, class: "links" %>
</div>
<div class="container">
<h3 >Add a new receipt</h3>

<%= render 'form', receipt: @receipt %>
</div>