<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <%= link_to "Home", receipts_path, class: "nav-bar_link" %>
    <%= link_to "Logout", logout_path, method: "delete", class: "nav-bar_link" %>
    </div>
</div>