<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <%= link_to "Home", root_path, class: "navbar-brand" %>
    <%= link_to "Receipts", receipts_path, class: "navbar-brand" %>
    </div>
</div>